<mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav mode="side" opened>
        <mat-nav-list>
            <mat-list-item>
                <button mat-button (click)="createRoom()">Create Room</button>
            </mat-list-item>
            <mat-list-item>
                <button mat-button (click)="inviteFriends()">Invite Friends</button>
            </mat-list-item>
            <mat-list-item>
                <button mat-button (click)="toggleSidebar()">Toggle Sidebar</button>
            </mat-list-item>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <app-menu></app-menu>
        <app-code-editor></app-code-editor>
    </mat-sidenav-content>
</mat-sidenav-container>