.example-card {
    max-width: 400px;
}

.example-header-image {
    background-image: url('C:/Users/patya/OneDrive/Desktop/Angular Projects/collabproject/public/INDIVIDUALWORKSPACEIMG.jpeg');
    background-size: cover;
}