<mat-toolbar color="primary">
    <span>My Online IDE</span>
    <span class="spacer"></span>
    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="openFile()">Open</button>
        <button mat-menu-item (click)="saveFile()">Save</button>
        <button mat-menu-item (click)="saveAsFile()">Save As</button>
        <button mat-menu-item (click)="exportFile()">Export</button>
    </mat-menu>
    <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
    </button>
    <button mat-button (click)="inviteFriends()">Invite Friends</button>
</mat-toolbar>