/* Main layout styling for IDE */
.main-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.editor-output-container {
    display: flex;
    flex-direction: column;
}

.code-editor-container {
    flex-grow: 1;
}

.flex {
    display: flex;
}

.flex-grow {
    flex-grow: 1;
}

.Left {
    width: 20%;
}

.right {
    width: 80%;
}

.h-screen {
    height: 100vh;
}